@model WebApi_Identity_Provider_DotNet.ViewModels.Login.AddCredentialViewModel

<h2>Connexion</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <h4>Configurer Windows Hello</h4>
            <hr />
            <div class="form-group">
                <p>
                    Votre appareil supporte Windows Hello.
                    Grâce à Windows Hello vous pouvez vous connecter à ce site sur ce PC, sans utiliser de mot de passe.
                </p>
                <p>
                    Voulez-vous activer Windows Hello pour la prochaine connexion ?
                </p>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" onclick="Fido.later('@Model.SignInId')">Plus tard</button>
                <button type="button" class="btn btn-primary" onclick="Fido.makeCredential('@Model.SignInId', '@Model.UserId')">Utiliser Windows Hello</button>
            </div>
        </section>
    </div>
</div>

@section Scripts{
    <script src="~/lib/crypto-js/crypto-js.js"></script>
    <script src="~/js/fido.js"></script>
}