@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mot de passe oublié";
}

<div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">

        <h1>@ViewData["Title"]</h1>
        <h2>Entre votre adresse Email.</h2>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Réinitialiser le mot de passe</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
