@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation de réinitialisation du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Veuillez consulter votre boite mail pour réinitialiser votre mot de passe.
</p>
