@page
@model Disable2faModel
@{
    ViewData["Title"] = "Désactiver l'authentification à deux facteurs.";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Cette action désactive uniquement le besoin lors de la connexion d'entrer le code fourni par votre application d'authentification.</strong>
    </p>
    <p>
        Désactiver l'authentification a deux facteurs n'invalide pas les clés utilisées par les applications d'authentification. Si vous souhaitez changer celles-ci,
        veuillez <a asp-page="./ResetAuthenticator">réinitialiser vos clés d'authentification.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
