@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Birthdate" class="form-control"/>
                <label asp-for="Input.Birthdate"></label>
                <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <div class="form-check">
                    <input type="radio" asp-for="Input.Gender" class="form-check-input" value="male">
                    <label for="male" class="form-check-label">Homme</label><br>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Input.Gender" class="form-check-input" value="female">
                    <label for="female" class="form-check-label">Femme</label><br>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Input.Gender" class="form-check-input" value="other">
                    <label for="other" class="form-check-label">Non spécifié</label>
                </div>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.GivenName" class="form-control"/>
                <label asp-for="Input.GivenName"></label>
                <span asp-validation-for="Input.GivenName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FamilyName" class="form-control"/>
                <label asp-for="Input.FamilyName"></label>
                <span asp-validation-for="Input.FamilyName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PreferredName" class="form-control"/>
                <label asp-for="Input.PreferredName"></label>
                <span asp-validation-for="Input.PreferredName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
