@page
@model PrivacyModel
@{
    ViewData["Title"] = "Protection des données";
}
<h1>@ViewData["Title"]</h1>


<p>Utilisez cette page pour détailler votre politique de protection des données.</p>

La politique de données de Microsoft est détaillée <a href="https://privacy.microsoft.com/">ici</a>