@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmation d'adresse mail";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a asp-page="./Login">Cliquez ici pour vous connecter.</a>
