@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reinitialisation de mot de passe effectuée";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passse a été réinitialisé.<a asp-page="./Login">Cliquez ici pour vous connecter.</a>.
</p>
